# Ignore all files and directories in the "bitrix" directory
bitrix/*
!bitrix/templates/dresscode/
!bitrix/templates/dresscode_2024/
assets/*
# Ignore specific files and directories within the "bitrix" directory


# Ignore any file or directory with a name that contains "cache"
*cache*

# Ignore any file or directory with a name that starts with "tmp_"
tmp_*

# Ignore any file or directory with a name that ends with ".bak"
*.bak

# Ignore any file or directory with a name that contains "backup"
*backup*

# Ignore any file or directory with a name that contains "log"
*log*

# Ignore any file or directory with a name that contains "debug"
*debug*
