# Ignore all files and directories in the "bitrix" directory
!bitrix/templates/dresscode/
!bitrix/templates/dresscode_2024/
bitrix/*
assets/*
# Ignore specific files and directories within the "bitrix" directory


# Ignore any file or directory with a name that contains "cache"
*cache*

# Ignore any file or directory with a name that starts with "tmp_"
tmp_*

# Ignore any file or directory with a name that ends with ".bak"
*.bak

# Ignore any file or directory with a name that contains "backup"
*backup*

# Ignore any file or directory with a name that contains "log"
*log*

# Ignore any file or directory with a name that contains "debug"
*debug*

# Ignore any file or directory with a name that contains "test"
*test*

# Ignore any file or directory with a name that contains "dev"
*dev*

# Ignore any file or directory with a name that contains "local"
*local*

# Ignore any file or directory with a name that contains "staging"
*staging*

# Ignore any file or directory with a name that contains "production"
*production*

# Ignore any file or directory with a name that contains "live"
*live*

# Ignore any file or directory with a name that contains "beta"
*beta*

# Ignore any file or directory with a name that contains "alpha"
*alpha*

# Ignore any file or directory with a name that contains "rc" (release candidate)
*rc*

# Ignore any file or directory with a name that contains "patch"
*patch*

# Ignore any file or directory with a name that contains "hotfix"
*hotfix*

# Ignore any file or directory with a name that contains "feature"
*feature*

# Ignore any file or directory with a name that contains "bugfix"
*bugfix*

# Ignore any file or directory with a name that contains "refactoring"
*refactoring*

# Ignore any file or directory with a name that contains "optimization"
*optimization*

# Ignore any file or directory with a name that contains "performance"
*performance*

# Ignore any file or directory with a name that contains "security"
*security*

# Ignore any file or directory with a name that contains "accessibility"
*accessibility*

# Ignore any file or directory with a name that contains "usability"
*usability*

# Ignore any file or directory with a name that contains "user experience"
*user_experience*

# Ignore any file or directory with a name that contains "ux"
*ux*

# Ignore any file or directory with a name that contains "ui"
*ui*

# Ignore any file or directory with a name that contains "design"
*design*

# Ignore any file or directory with a name that contains "layout"
*layout*

# Ignore any file or directory with a name that contains "css"
*css*

# Ignore any file or directory with a name that contains "js"
*js*

# Ignore any file or directory with a name that contains "html"
*html*

# Ignore any file or directory with a name that contains "php"
*php*

# Ignore any file or directory with a name that contains "mysql"
*mysql*

# Ignore any file or directory with a name that contains "mariadb"
*mariadb*

# Ignore any file or directory with a name that contains "postgresql"
*postgresql*

# Ignore any file or directory with a name that contains "sqlite"
*sqlite*

# Ignore any file or directory with a name that contains "oracle"
*oracle*

# Ignore any file or directory with a name that contains "microsoft sql server"
*sqlserver*

# Ignore any file or directory with a name that contains "mongodb"
*mongodb*

# Ignore any file or directory with a name that contains "redis"
*redis*

# Ignore any file or directory with a name that contains "memcached"
*memcached*

# Ignore any file or directory with a name that contains "elasticsearch"
*elasticsearch*

# Ignore any file or directory with a name that contains "kibana"
*kibana*

# Ignore any file or directory with a name that contains "logstash"
*logstash*

# Ignore any file or directory with a name that contains "beats"
*beats*

# Ignore any file or directory with a name that contains "packetbeat"
*packetbeat*

# Ignore any file or directory with a name that contains "filebeat"
*filebeat*

# Ignore any file or directory with a name that contains "metricbeat"
*metricbeat*

# Ignore any file or directory with a name that contains "heartbeat"
*heartbeat*

# Ignore any file or directory with a name that contains "apm"
*apm*

# Ignore any file or directory with a name that contains "newrelic"
*newrelic*

# Ignore any file or directory with a name that contains "datadog"
*datadog*

# Ignore any file or directory with a name that contains "prometheus"
*prometheus*

# Ignore any file or directory with a name that contains "grafana"
*grafana*

# Ignore any file or directory with a name that contains "influxdb"
*influxdb*

# Ignore any file or directory with a name that contains "telegraf"
*telegraf*

# Ignore any file or directory with a name that contains "statsd"
*statsd*

# Ignore any file or directory with a name that contains "collectd"
*collectd*

# Ignore any file or directory with a name that contains "graphite"
*graphite*

# Ignore any file or directory with a name that contains "carbon"
*carbon*

# Ignore any file or directory with a name that contains "whisper"
*whisper*

# Ignore any file or directory with a name that contains "riemann"
*riemann*

# Ignore any file or directory with a name that contains "sensu"
*sensu*

# Ignore any file or directory with a name that contains "consul"
*consul*

# Ignore any file or directory with a name that contains "nomad"
*nomad*

# Ignore any file or directory with a name that contains "vault"
*vault*

# Ignore any file or directory with a name that contains "terraform"
*terraform*

# Ignore any file or directory with a name that contains "ansible"
*ansible*

# Ignore any file or directory with a name that contains "puppet"
*puppet*

# Ignore any file or directory with a name that contains "chef"
*chef*

# Ignore any file or directory with a name that contains "saltstack"
*saltstack*

# Ignore any file or directory with a name that contains "docker"
*docker*

# Ignore any file or directory with a name that contains "kubernetes"
*kubernetes*

# Ignore any file or directory with a name that contains "helm"
*helm*

# Ignore any file or directory with a name that contains "istio"
*istio*

# Ignore any file or directory with a name that contains "knative"
*knative*

# Ignore any file or directory with a name that contains "openfaas"
*openfaas*

# Ignore any file or directory with a name that contains "rkt"
*rkt*

# Ignore any file or directory with a name that contains "cri-o"
*cri-o*

# Ignore any file or directory with a name that contains "containerd"
*containerd*

# Ignore any file or directory with a name that contains "buildah"
*buildah*

# Ignore any file or directory with a name that contains "skopeo"
*skopeo*

# Ignore any file or directory with a name that contains "podman"
*podman*

# Ignore any file or directory with a name that contains "ceph"
*ceph*

# Ignore any file or directory with a name that contains "glusterfs"
*glusterfs*

# Ignore any file or directory with a name that contains "nfs"
*nfs*

# Ignore any file or directory with a name that contains "iscsi"
*iscsi*

# Ignore any file or directory with a name that contains "multipath"
*multipath*

# Ignore any file or directory with a name that contains "lvm"
*lvm*

# Ignore any file or directory with a name that contains "zfs"
*zfs*

# Ignore any file or directory with a name that contains "btrfs"
*btrfs*

# Ignore any file or directory with a name that contains "xfs"
*xfs*

# Ignore any file or directory with a name that contains "ext4"
*ext4*

# Ignore any file or directory with a name that contains "ntfs"
*ntfs*

# Ignore any file or directory with a name that contains "fuse"
*fuse*

# Ignore any file or directory with a name that contains "ssh"
*ssh*

# Ignore any file or directory with a name that contains "scp"
*scp*

# Ignore any file or directory with a name that contains "rsync"
*rsync*

# Ignore any file or directory with a name that contains "ftp"
*ftp*

# Ignore any file or directory with a name that contains "http"
*http*

# Ignore any file or directory with a name that contains "https"
*https*

# Ignore any file or directory with a name that contains "tls"
*tls*

# Ignore any file or directory with a name that contains "ssl"
*ssl*

# Ignore any file or directory with a name that contains "certificate"
*certificate*

# Ignore any file or directory with a name that contains "key"
*key*

# Ignore any file or directory with a name that contains "secret"
*secret*

# Ignore any file or directory with a name that contains "password"
*password*

# Ignore any file or directory with a name that contains "token"
*token*

# Ignore any file or directory with a name that contains "api key"
*api_key*

# Ignore any file or directory with a name that contains "client id"
*client_id*

# Ignore any file or directory with a name that contains "client secret"
*client_secret*

# Ignore any file or directory with a name that contains "refresh token"
*refresh_token*

# Ignore any file or directory with a name that contains "access token"
*access_token*

# Ignore any file or directory with a name that contains "authorization code"
*authorization_code*

# Ignore any file or directory with a name that contains "oauth"
*oauth*

# Ignore any file or directory with a name that contains "jwt"
*jwt*

# Ignore any file or directory with a name that contains "json web token"
*json_web_token*

# Ignore any file or directory with a name that contains "session"
*session*

# Ignore any file or directory with a name that contains "cookie"
*cookie*

# Ignore any file or directory with a name that contains "csrf"
*csrf*

# Ignore any file or directory with a name that contains "cross site request forgery"
*cross_site_request_forgery*

# Ignore any file or directory with a name that contains "xsrf"
*xsrf*

# Ignore any file or directory with a name that contains "cross site scripting"
*cross_site_scripting*

# Ignore any file or directory with a name that contains "xss"
*xss*

# Ignore any file or directory with a name that contains "sql injection"
*sql_injection*

# Ignore any file or directory with a name that contains "sqli"
*sqli*

# Ignore any file or directory with a name that contains "command injection"
*command_injection*

# Ignore any file or directory with a name that contains "ci"
*ci*

# Ignore any file or directory with a name that contains "remote code execution"
*remote_code_execution*

# Ignore any file or directory with a name that contains "rce"
*rce*

# Ignore any file or directory with a name that contains "buffer overflow"
*buffer_overflow*

# Ignore any file or directory with a name that contains "bof"
*bof*

# Ignore any file or directory with a name that contains "integer overflow"
*integer_overflow*

# Ignore any file or directory with a name that contains "io"
*io*

# Ignore any file or directory with a name that contains "format string vulnerability"
*format_string_vulnerability*

# Ignore any file or directory with a name that contains "fmtstr"
*fmtstr*

# Ignore any file or directory with a name that contains "null pointer dereference"
*null_pointer_dereference*

# Ignore any file or directory with a name that contains "npd"
*npd*

# Ignore any file or directory with a name that contains "use after free"
*use_after_free*

# Ignore any file or directory with a name that contains "heap exploitation"
*heap_exploitation*

# Ignore any file or directory with a name that contains "heapspray"
*heapspray*

# Ignore any file or directory with a name that contains "return oriented programming"
*return_oriented_programming*

# Ignore any file or directory with a name that contains "rop"
*rop*

# Ignore any file or directory with a name that contains "arbitrary code execution"
*arbitrary_code_execution*

# Ignore any file or directory with a name that contains "ace"
*ace*

# Ignore any file or directory with a name that contains "information disclosure"
*information_disclosure*

# Ignore any file or directory with a name that contains "id"
*id*

# Ignore any file or directory with a name that contains "denial of service"
*denial_of_service*

# Ignore any file or directory with a name that contains "dos"
*dos*

# Ignore any file or directory with a name that contains "resource exhaustion"
*resource_exhaustion*

# Ignore any file or directory with a name that contains "re"
*re*

# Ignore any file or directory with a name that contains "privilege escalation"
*privilege_escalation*

# Ignore any file or directory with a name that contains "pe"
*pe*

# Ignore any file or directory with a name that contains "race condition"
*race_condition*

# Ignore any file or directory with a name that contains "rc"
*rc*

# Ignore any file or directory with a name that contains "deadlock"
*deadlock*

# Ignore any file or directory with a name that contains "dl"
*dl*

# Ignore any file or directory with a name that contains "starvation"
*starvation*

# Ignore any file or directory with a name that contains "sv"
*sv*

# Ignore any file or directory with a name that contains "memory corruption"
*memory_corruption*

# Ignore any file or directory with a name that contains "mc"
*mc*

# Ignore any file or directory with a name that contains "type confusion"
*type_confusion*

# Ignore any file or directory with a name that contains "tc"
*tc*

# Ignore any file or directory with a name that contains "undefined behavior"
*undefined_behavior*

# Ignore any file or directory with a name that contains "ub"
*ub*

# Ignore any file or directory with a name that contains "uninitialized memory"
*uninitialized_memory*

# Ignore any file or directory with a name that contains "umem"
*umem*

# Ignore any file or directory with a name that contains "out-of-bounds read"
*out_of_bounds_read*

# Ignore any file or directory with a name that contains
